In [1]:
import mysql.connector as connector

In [2]:
connection = connector.connect(user = "ll_admin", password = "littlelemon101", db = "little_lemon_db")

In [3]:
print(connection)

<mysql.connector.connection.MySQLConnection object at 0x1083924f0>

In [4]:
mycursor = connection.cursor()

In [5]:
show_tables_query = "SHOW tables"

In [6]:
mycursor.execute(show_tables_query)

In [7]:
results = mycursor.fetchall()

In [8]:
for result in results:
    print(result)

('bookings',)
('customer_details',)
('menu',)
('menu_items',)
('order_delivery_status',)
('orders',)
('orders_view',)
('staff_information',)

In [9]:
mycursor.execute("SHOW COLUMNS IN customer_details")

In [10]:
results = mycursor.fetchall()

In [11]:
for result in results:
    print(result)

('customerID', 'int', 'NO', 'PRI', None, '')
('customerFullName', 'varchar(255)', 'NO', '', None, '')
('phone', 'int', 'NO', '', None, '')
('email', 'varchar(255)', 'NO', '', None, '')

In [16]:
big_spender_details_query = "SELECT c.customerFullName, c.phone, c.email, o.totalCost FROM customer_details c LEFT JOIN orders o ON c.customerID = o.customerID WHERE o.totalCost > 60"

In [25]:
mycursor.execute(big_spender_details_query)

In [26]:
results = mycursor.fetchall()
columns = mycursor.column_names

In [27]:
print(columns)
for result in results:
    print(result)

('customerFullName', 'phone', 'email', 'totalCost')
('John Doe', 1234567890, 'john.doe@example.com', Decimal('130.00'))
('Jane Smith', 1876543210, 'jane.smith@example.com', Decimal('105.00'))
('Mike Johnson', 1567890123, 'mike.johnson@example.com', Decimal('180.00'))
('Emily Brown', 1890123456, 'emily.brown@example.com', Decimal('130.00'))